:root {
  --white: #ffffff;
  --main-color: #232329;
  --main-hover: #e04e39;
  --accent-color: #de4f3f;
  --accent-hover: #a92617;
  --poster-color: #f4e7dc;
  --poster-hover: #e9e9f0;

  --tr-time: 0.25s;
}
